            <!--=============== wrapper ===============-->	
            <div id="wrapper">
                <!--=============== content-holder ===============-->	
                <div class="content-holder scale-bg2">
                    <!--=============== navigation ===============-->
                    <div class="nav-inner isDown">
                        <div class="nav-decor nav-decor-tl"></div>
                        <div class="nav-decor nav-decor-br"></div>
                        <div class="overlay"></div>
                        <nav>
                            <ul>
                                <li class="subnav">
                                    <a href="index.html" class="ajax curpage">Home</a>
                                    <!-- General menu scroll navigation -->
                                    <ul>
                                        <li>
                                            <a href="index.html#sec1" class="custom-scroll-link">About me</a>
                                        </li>
                                        <li>
                                            <a href="index.html#sec2" class="custom-scroll-link">Resume</a>
                                        </li>
                                        <li>
                                            <a href="index.html#sec3" class="custom-scroll-link">Services</a>
                                        </li>
                                        <li>
                                            <a href="index.html#sec4" class="custom-scroll-link">Skills</a>
                                        </li>
                                        <li>
                                            <a href="index.html#sec5" class="custom-scroll-link">Clients</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="portfolio.html"  >Work</a></li>
                                <li><a href="contact.html"  >Contact</a></li>
                                <li><a href="blog.html"  >Journal</a></li>
                                <li class="subnav">
                                    <ul>
                                        <li>
                                            <a href="portfolio2.html">Portfolio 2</a>
                                        </li>
                                        <li>
                                            <a href="portfolio3.html">Portfolio 3</a>
                                        </li>
                                        <li>
                                            <a href="portfolio-single2.html">Portfolio single 2</a>
                                        </li>
                                        <li>
                                            <a href="portfolio-single3.html">Portfolio single 3</a>
                                        </li>
                                        <li>
                                            <a href="portfolio-single4.html">Portfolio single 4</a>
                                        </li>
                                    </ul>
                                    <a href="#">Pages</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- navigation  end -->
                    <!--=============== hero-wrapper ===============-->	
                    <div class="hero-wrapper">
                        <div class="section-parallax" data-top-bottom="transform: translateY(250px);" data-bottom-top="transform: translateY(-250px);">
                            <div class="fwslider-holder">
                                <div class="customNavigation">
                                    <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
                                    <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
                                </div>
                                <div class="fwslider owl-carousel">
                                    <div class="item full-height">
                                        <div class="bg" style="background-image:url(/images/bg/1.jpg)"></div>
                                        <div class="overlay"></div>
                                        <div class="hero-title">
                                            <div class="hero-wrap" data-top-bottom="transform: translateY(-150px);" data-bottom-top="transform: translateY(150px);">
                                                <h3>Hi i am Michael Ferretti</h3>
                                                <div class="clearfix"></div>
                                                <h4><a href="#sec1" class="custom-scroll-link">Let's start</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item full-height">
                                        <div class="bg" style="background-image:url(/images/bg/1.jpg)"></div>
                                        <div class="overlay"></div>
                                        <div class="hero-title halig-center no-padding">
                                            <div class="hero-wrap no-border" data-top-bottom="transform: translateY(-150px);" data-bottom-top="transform: translateY(150px);">
                                                <h3>View  My last work</h3>
                                                <div class="clearfix"></div>
                                                <h4><a href="portfolio.html"  >My portfolio</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item full-height">
                                        <div class="bg" style="background-image:url(/images/bg/1.jpg)"></div>
                                        <div class="overlay"></div>
                                        <div class="hero-title halig-right">
                                            <div class="hero-wrap" data-top-bottom="transform: translateY(-150px);" data-bottom-top="transform: translateY(150px);">
                                                <h3>Hi i am Gwenn Stern</h3>
                                                <div class="clearfix"></div>
                                                <h4><a href="#sec1" class="custom-scroll-link">Let's start</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- hero-wrapper  end -->
                    <!--=============== fixed-column ===============-->	
                    <div class="fixed-column">
                        <!-- animation background -->
                        <div class="bg-wrapper">
                            <div class="bg bg-scroll"></div>
                            <div class="overlay"></div>
                            <div class="bg-title"><span></span></div>
                        </div>
                    </div>
                    <!-- fixed-column end -->
                    <!--=============== wrapper-inner  ===============-->
                    <div class="wrapper-inner home-wrap">
                        <!-- scroll page navigation -->
                        <div class="scroll-nav-holder">
                            <nav class="scroll-nav">
                                <ul>
                                    <li><a class="scroll-link fbgs" href="#sec1" data-bgscr="/images/bg/long/1.jpg" data-bgtex="about me"><span>About</span></a></li>
                                    <li><a class="scroll-link" href="#sec2" data-bgscr="/images/bg/long/1.jpg" data-bgtex="my resume"><span>Resume</span></a></li>
                                    <li><a class="scroll-link" href="#sec3" data-bgscr="/images/bg/long/1.jpg" data-bgtex="my services"><span>Services</span></a></li>
                                    <li><a class="scroll-link" href="#sec4" data-bgscr="/images/bg/long/1.jpg" data-bgtex="my skills"><span>Skills</span></a></li>
                                    <li><a class="scroll-link" href="#sec5" data-bgscr="/images/bg/long/1.jpg" data-bgtex="my clients"><span>Clients</span></a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- scroll page navigation end -->
                        <!--=============== content ===============-->	
                        <div class="content">
                            <!-- section about -->
                            <section id="sec1">
                                <!-- container -->
                                <div class="container">
                                    <div class="section-title">
                                        <div class="sect-subtitle" data-top-bottom="transform: translateY(-300px);" data-bottom-top="transform: translateY(300px);"><span>About me</span></div>
                                        <h3>Who i am </h3>
                                        <h2>About me</h2>
                                        <div class="st-separator"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="about-iamge">
                                                <img src="/images/about.jpg" alt="" class="respimg">
                                            </div>
                                        </div>
                                        <div class="col-md-7 align-text">
                                            <h4 class="text-subtitle">Gwenn Stern</h4>
                                            <h3 class="text-title">Web designer & Web <span>Developer</span> From USA</h3>
                                            <div class="clearfix"></div>
                                            <p>Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in anim id est laborum. Allamco laboris nisi ut aliquip ex ea commodo consequat. Aser velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in anim id est laborum. </p>
                                            <p> Aser velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in anim id est laborum. </p>
                                            <a href="portfolio.html" class="btn hide-icon"><i class="fa fa-angle-right"></i><span>View  Work</span></a>	
                                        </div>
                                    </div>
                                </div>
                                <!-- container end  -->
                            </section>
                            <!-- section end -->
                            <!-- section facts -->
                            <section>
                                <div class="container">
                                    <div class="facts-title">
                                        <h3>Some facts</h3>
                                    </div>
                                    <div class="inline-facts-holder">
                                        <!-- 1 -->
                                        <div class="inline-facts">
                                            <div class="milestone-counter">
                                                <div class="stats animaper">
                                                    <div class="num" data-content="461" data-num="461">0</div>
                                                </div>
                                            </div>
                                            <h6>Finished projects</h6>
                                        </div>
                                        <!-- 2 -->
                                        <div class="inline-facts">
                                            <div class="milestone-counter">
                                                <div class="stats animaper">
                                                    <div class="num" data-content="168" data-num="168">0</div>
                                                </div>
                                            </div>
                                            <h6>Happy customers</h6>
                                        </div>
                                        <!-- 3 -->
                                        <div class="inline-facts">
                                            <div class="milestone-counter">
                                                <div class="stats animaper">
                                                    <div class="num" data-content="222" data-num="222">0</div>
                                                </div>
                                            </div>
                                            <h6>Working hours</h6>
                                        </div>
                                    </div>
                                </div>
                                <!-- container end  -->
                            </section>
                            <!-- section end -->  
                            <div class="section-separator"></div>
                            <!--=============== section resume  ===============-->	
                            <section  id="sec2">
                                <div class="container">
                                    <div class="section-title">
                                        <div class="sect-subtitle" data-top-bottom="transform: translateY(-300px);" data-bottom-top="transform: translateY(300px);"><span>Resume</span></div>
                                        <h3>My bio </h3>
                                        <h2>Resume </h2>
                                        <div class="st-separator"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="accordion" data-name="1">
                                        <!-- 1 - visible-->
                                        <div class="accordion-title transition">
                                            <h5><a href="#"> <i class="fa fa-briefcase"></i> 2012-2015 <span> - Work in company "Dolore"</span></a></h5>
                                        </div>
                                        <div class="accordion-inner">
                                            <h4>Web designer</h4>
                                            <ul>
                                                <li>Development</li>
                                                <li>Seo optimization</li>
                                                <li>Web design</li>
                                            </ul>
                                            <p>
                                                Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in anim id est laborum. Allamco laboris nisi ut aliquip ex ea commodo consequat. Aser velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in anim id est laborum.
                                            </p>
                                        </div>
                                        <!-- 2 -->
                                        <div class="accordion-title transition">
                                            <h5><a href="#"> <i class="fa fa-briefcase"></i> 2010-2012 <span> - Work in company "Excepteur"</span></a></h5>
                                        </div>
                                        <div class="accordion-inner">
                                            <h4>Web developer</h4>
                                            <ul>
                                                <li>Development</li>
                                                <li>Seo optimization</li>
                                                <li>Web design</li>
                                            </ul>
                                            <p>
                                                Nullam vitae tortor sit amet lectus lacinia placerat. Aliquam vel venenatis urna, egetIn metus quam.Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue.
                                            </p>
                                        </div>
                                        <!-- 3 -->
                                        <div class="accordion-title transition">
                                            <h5><a href="#"> <i class="fa fa-pencil"></i> 2010-2015 <span> - Course designer</span></a></h5>
                                        </div>
                                        <div class="accordion-inner">
                                            <h4>Student</h4>
                                            <ul>
                                                <li>Photoshop</li>
                                                <li>Illustrator</li>
                                                <li>html markup</li>
                                            </ul>
                                            <p>
                                                Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                                            </p>
                                        </div>
                                        <!-- 4 -->
                                        <div class="accordion-title transition">
                                            <h5><a href="#"> <i class="fa fa-graduation-cap"></i> 2006-2010 <span> - University studies </span></a></h5>
                                        </div>
                                        <div class="accordion-inner">
                                            <h4>Student</h4>
                                            <ul>
                                                <li>Dancing</li>
                                                <li>Drinking</li>
                                                <li>and some studies :)</li>
                                            </ul>
                                            <p>
                                                Hllentesque nec turpis in orci consequat sagittis et eget massa. Ut commodo consectetur lorem ultricies rutrum. Nulla vitae semper nulla. Ut bibendum tortor ac diam tincidunt, vitae malesuada augue convallis.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- section end -->
                            <div class="section-separator"></div>
                            <!-- section services -->
                            <section  id="sec3">
                                <!-- container-->
                                <div class="container">
                                    <!-- section title -->
                                    <div class="section-title">
                                        <div class="sect-subtitle" data-top-bottom="transform: translateY(-300px);" data-bottom-top="transform: translateY(300px);"><span>Services</span></div>
                                        <h3>What i do</h3>
                                        <h2>Services</h2>
                                        <div class="st-separator"></div>
                                    </div>
                                    <!-- section title end  -->
                                    <!-- 2 -->
                                    <div class="carous-holder ser-carous-holder">
                                        <div class="customNavigation">
                                            <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
                                            <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div  class="owl-carousel services-carusel">
                                            
                                            <!-- blog api loop -->
                                            <% @blog_posts.each do |post| %>
                                            <div class="item">
                                                <div class="services-box box-item-holder">
                                                    <div class="grid-item-holder services-image">
                                                        <a class="image-popup box-popup" href="/images/services/1.jpg"><i class="fa fa-expand"></i></a>
                                                        <div class="folio-img"> 
                                                            <span class="overlay"></span> 
                                                            <img  src="/images/services/1.jpg"  alt="">
                                                        </div>
                                                    </div>
                                                    <div class="services-box-info">
                                                        <h4><%= post['title'] %></h4>
                                                        <p>    <%= post['content'].first(250) + ". . . " %></p>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                                <!-- container end  -->
                            </section>
                            <!-- section end  -->
                            
                            <div class="section-separator"></div>
                            <!-- section clients -->
                            <section  id="sec5">
                                <div class="container">
                                    <div class="section-title">
                                        <div class="sect-subtitle" data-top-bottom="transform: translateY(-300px);" data-bottom-top="transform: translateY(300px);"><span>Clients</span></div>
                                        <h3>Testimonials</h3>
                                        <h2>Clients</h2>
                                        <div class="st-separator"></div>
                                    </div>
                                    <div class="single-slider-holder">
                                        <div class="customNavigation">
                                            <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
                                            <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
                                        </div>
                                        <div class="single-slider owl-carousel testimonials-slider">
                                            <!-- 1 -->
                                            <div class="item">
                                                <div class="testi-item">
                                                    <div class="testi-item-img"><img src="/images/testimonials/1.jpg" alt="" class="respimg"></div>
                                                    <div class="testi-item-text">
                                                        <h3>Mike Jones</h3>
                                                        <p> " Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in anim id est laborum. Allamco laboris nisi ut aliquip ex ea commodo consequat. Aser velit esse cillum dolore eu fugiat nulla pariatur. "</p>
                                                        <a href="#">Via Twitter</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 2 -->
                                            <div class="item">
                                                <div class="testi-item">
                                                    <div class="testi-item-img"><img src="/images/testimonials/1.jpg" alt="" class="respimg"></div>
                                                    <div class="testi-item-text">
                                                        <h3>Mery Lynn</h3>
                                                        <p> "Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in anim id est laborum. Allamco laboris nisi ut aliquip ex ea commodo consequat. Aser velit esse cillum dolore eu fugiat nulla pariatur. "</p>
                                                        <a href="#">Via Facebook</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 3 -->
                                            <div class="item">
                                                <div class="testi-item">
                                                    <div class="testi-item-img"><img src="/images/testimonials/1.jpg" alt="" class="respimg"></div>
                                                    <div class="testi-item-text">
                                                        <h3>Ann Frideck</h3>
                                                        <p> "Allamco laboris nisi ut aliquip ex ea commodo consequat. Aser velit esse cillum dolore eu fugiat nulla pariatur. "</p>
                                                        <a href="#">Via Myspace</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- section end  -->
                        </div>
                        <!-- content end  -->
                    </div>
                    <!-- wrapper-inner end  -->